@model IEnumerable<CollegeProject.Models.AgentTaskModel>

@{
    ViewData["Title"] = "AgentTask";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>AgentTask</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p style="text-align:center;color:darkgreen">
    Today's Tasks
</p>
<table class="table table-bordered table-striped table-hover  mb-2" id="table1">
    <thead>
        <tr>
            <th>
                OrderId
            </th>
            <th>
                VendorName
            </th>
            <th>
                VendorAddress
            </th>
            <th>
                VendorPhone
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                DeliveryStatus
            </th>
           
        </tr>
    </thead>
    <tbody >

    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function(){
       
        AgentTaskList();
    });
    function AgentTaskList(){
        var AgentId=@ViewBag.Id;
        var a ='';
        $.ajax({
            url: '@Url.Action("AgentTaskJson","AgnetDashboard")',
            type:'Get',
            dataType:'Json',
            data:{
                AgentId:AgentId
            },
            success:function(response){
                $("#table1 tbody").html('');
                if(response!=null){
                    for(var i=0;i<response.length;i++){
                        a +=`
                            <tr>
                                <td>${response[i].orderId}</td>
                                <td>${response[i].vendorName}</td>
                                <td>${response[i].vendorAddress}</td>
                                <td>${response[i].vendorPhone}</td>
                                <td>${response[i].createdDate}</td>
                                <td><input type="button" id="button${response[i].orderId}" class="btn btn-success " onClick="StatusUpdate1(${response[i].orderId})" value="OrderReceived"/></td>
                            </tr>
                            `;
                       
                    }
                    $("#table1 tbody").html(a);

                    $("#table1").DataTable();
                    
                }
                else{
                    alert("Failed");
                }
            },
            error:function(xhr,status,error){
                alert("error Occured");
            }
        })
    }
</script>
<script>
    function StatusUpdate1(orderID){
        debugger;
        var button = document.getElementById("button"+orderID);
            $.ajax({
            url: '@Url.Action("DeliveryStatusAgent1","AgnetDashboard")',
            type:'Get',
            data:{
                orderID:orderID
            },
            dataType:'Json',
            success:function(response){
                if (response != null) {
                    debugger;       
                   $("#button"+orderID).val(response.deliveryStatus);
                    button.disabled = true;
                    
                    
                }
               

            },
            error:function(xhr,status,error){
                alert("Error Occured!!!");
            }
            })
    }
</script>